@use '@styles/variables' as var;

@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  color: var.$black;
}

.app {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 16px;
  background-color: var.$white;

  @media (min-width: 1110px) {
    padding: 0 36px;
  }

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 37px;
  }

  &__gallery-movies {
    margin-top: 10px;

    @media (min-width: 1110px) {
      margin-top: 36px;
    }
  }
}
